/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: olivedrab;
    color: palegoldenrod;
    padding: 15px 25px;
}

.navbar nav a {
    color: peachpuff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar nav a:hover {
    color: #4caf50;
}

/* MAIN FLEX LAYOUT */
.main-container {
    display: flex;
    min-height: 80vh;
}

/* SIDEBAR */
.sidebar {
    flex: 1;
    background: palegoldenrod;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin-top: 15px;
}

.sidebar li{
    margin-bottom: 10px;
    cursor: pointer;
}

/* GALLERY */
.gallery {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* CARD */
.card {
    width: 220px;
    background: palegoldenrod;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card p {
    padding: 10px;
}

.footer {
    background: peru;
    color: black;
    text-align: center;
    padding: 12px;
}
